:host {
  display: block;
}

.owner-card {
  min-height: 100%;
}

.owner-avatar {
  min-height: 160px;
  max-height: 180px;
}

@media (max-width: 767px) {
  .owner-card {
    border-radius: 2rem;
  }
}
